In [2]:
True

True

In [3]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [4]:
my_str="hello pw skill"

In [5]:
my_str

'hello pw skill'

In [6]:
my_list=[23,45,67,"hello","sukanya",6.7,True]

In [7]:
my_list

[23, 45, 67, 'hello', 'sukanya', 6.7, True]

In [8]:
my_float=656.7

In [9]:
my_float

656.7

In [10]:
type(my_list)

list

In [13]:
my_tuple={10,70,30,20,50}

In [12]:
my_tuple

{10, 20, 30, 40, 50}

In [14]:
my_tuple

{10, 20, 30, 50, 70}

In [15]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

In [16]:
var1=' '

In [17]:
var1

' '

In [18]:
type(var1)

str

In [19]:
var2='[DS,ML,Python]'

In [20]:
var2

'[DS,ML,Python]'

In [21]:
type(var2)

str

In [25]:
var3 = ['DS' ,'ML' ,'Python' ]

In [26]:
var3

['DS', 'ML', 'Python']

In [27]:
type(var3)

list

In [28]:
var4 = 1.

In [29]:
var4

1.0

In [30]:
type(var4)

float

In [31]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [32]:
a = 10

b = 5
c=a/b
d=a%b
e=a//b
f=a**b
print(c,d,e,f)

2.0 0 2 100000

In [33]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [38]:
my_list={23,45,78,"sukanya",98,8.9,"mayur",True,78,False}

for i in my_list:
    print(i)
    print(type(i))

sukanya
<class 'str'>
True
<class 'bool'>
98
<class 'int'>
False
<class 'bool'>
8.9
<class 'float'>
45
<class 'int'>
78
<class 'int'>
mayur
<class 'str'>
23
<class 'int'>

In [40]:
my_list={23,45,78,89,66,"sukanya",8.9,"mayur",True,False}

for i in my_list:
    print(i)
    print(type(i))

sukanya
<class 'str'>
True
<class 'bool'>
66
<class 'int'>
False
<class 'bool'>
8.9
<class 'float'>
45
<class 'int'>
78
<class 'int'>
mayur
<class 'str'>
23
<class 'int'>
89
<class 'int'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

In [32]:
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))
divisions = 0

while A % B == 0:
    A = A // B  # Update A by dividing it by B
    divisions += 1 

if A == 1:
    print(f"{A} is purely divisible by {B} and can be divided {divisions} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the dividend (A):  27
Enter the divisor (B):  3

1 is purely divisible by 3 and can be divided 3 times.

In [4]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [33]:
l = {67, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.
67 is not divisible by 3.

In [34]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [35]:
#Mutable data types can be modified or changed after they are created.
my_list=[2, 3, 4, 300, 6,"sukanya", 78, 'mayur', (6+7j), True, 89.78]

In [36]:
my_list

[2, 3, 4, 300, 6, 'sukanya', 78, 'mayur', (6+7j), True, 89.78]

In [37]:
type(my_list[3])

int

In [38]:
my_list[5]

'sukanya'

In [39]:
type(my_list[5])

str

In [40]:
my_list[3]=63

In [41]:
my_list

[2, 3, 4, 63, 6, 'sukanya', 78, 'mayur', (6+7j), True, 89.78]

In [42]:
#Immutable data types cannot be changed once they are created
s1="sukanya"

In [43]:
s1

'sukanya'

In [44]:
s1[0]

's'

In [45]:
s1[3]

'a'

In [49]:
# s1[4]='j' it give error 'str' object does not support item assignment

In [51]:
s='j'

In [52]:
s1+s

'sukanyaj'